<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram | Edit</title>
    <link rel="stylesheet" href="/css/edit.css" />
  </head>
  <body>
    <div class="edit-container">
      <div class="img-container position-relative">
        <% if(user.avatar) { %>
        <img src="<%= user.avatar%>" alt="" />
        <% } else { %>
        <img src="/profiles/no_profile.png" alt="" />
        <% } %>
      </div>
      <form
        style="display: grid; grid-template-columns: 1fr 1fr"
        method="post"
        action="/profile/edit/<%= user.username %>"
        enctype="multipart/form-data"
      >
        <input type="file" name="profile" class="form-control" />
        <input
          type="text"
          value="<%= user.name %>"
          name="name"
          placeholder="Full Name"
          class="form-control"
        />
        <input
          type="text"
          value="<%= user.username %>"
          name="username"
          placeholder="Username"
          class="form-control"
        />
        <input
          type="text"
          value="<%= user.email %>"
          name="email"
          placeholder="Email"
          class="form-control"
        />
        <input
          type="text"
          value="<%= user.bio %>"
          name="bio"
          placeholder="biography"
          class="form-control"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
        />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
          class="form-control"
        />
        <button class="btn btn-primary" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
