<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | Instagram</title>
    <link rel="stylesheet" href="/css/Profile.css" />
    <link
      rel="shortcut icon"
      href="https://b-sample-work-space.storage.c2.liara.space/instagram/insta_icon.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <div class="modal"></div>
    <div class="container">
      <div class="left-panel">
        <div
          class="offcanvas offcanvas-start"
          style="width: fit-content"
          data-bs-scroll="true"
          tabindex="-1"
          id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel"
        >
          <div class="offcanvas-header">
            <!-- <a href="#" class="logo">
						<img src="assets/Instagram.png" alt="instagram" class="logo-img">
						<img src="assets/insta-logo.png" class="logo-icon" alt="logo">
					</a> -->
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
              Instagram
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <div class="side-nav">
              <ul class="nav-links">
                <li>
                  <a href="/"
                    ><span class="fa fa-home nav-links__icon"></span>
                    <p>Home</p>
                  </a>
                </li>
                <li onclick="openSearchBox()">
                  <a href="#"
                    ><span class="fa fa-search nav-links__icon"></span>
                    <p>Search</p>
                  </a>
                </li>
                <li>
                  <a href="/explore"
                    ><span class="fa fa-map nav-links__icon"></span>
                    <p>Explore</p>
                  </a>
                </li>

                <li>
                  <a href="/message">
                    <span class="fa fa-message nav-links__icon"></span>
                    <p>Message</p>
                  </a>
                </li>
                <li onclick="openNotibox()">
                  <a href="#"
                    ><span class="fa fa-exclamation nav-links__icon"></span>
                    <p>Notifications</p>
                  </a>
                </li>
                <li onclick="opencreatebox()">
                  <a href="#"
                    ><span class="fa fa-plus nav-links__icon"></span>
                    <p>Create</p>
                  </a>
                </li>
                <li>
                  <% if(visitor) { %>
                  <a href="/profile/<%= visitor.username %>"
                    ><span class="fa fa-user nav-links__icon"></span>
                    <p><%= visitor.username %></p>
                  </a>
                  <% } else {%>
                  <a href="/auth/login"
                    ><span class="fa fa-user nav-links__icon"></span>
                    <p>login</p>
                  </a>
                  <% } %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="search" id="find">
          <div class="search-content">
            <h1>Search</h1>
            <span class="fa fa-x search-close" onclick="openSearchBox()"></span>
          </div>

          <div class="box">
            <input type="text" placeholder="search" class="search-input" />
          </div>
          <p>Recent</p>
          <div class="output">
            <p>No Recent</p>
          </div>
        </div>
        <div class="notification" id="notification-box">
          <div class="all-notifications">
            <div class="all-notifications-content">
              <h2>Notifications</h2>
              <span
                class="fa fa-x Notifications-close"
                onclick="openNotibox()"
              ></span>
            </div>
            <div class="scrollable-noti">
              <h5>Today</h5>
              <% if(visitor?.notifs?.length > 0) {%> <%
              visitor.notifs.forEach(notif => { %>
              <div class="persons" style="margin-top: 2rem">
                <div class="persons-title">
                  <% if(notif?.avatar){ %>
                  <img
                    src="<%= notif.avatar %>"
                    class="myprofile-img"
                    alt="profileimg"
                  />
                  <% } else{ %>
                  <img
                    src="/profiles/no_profile.png"
                    class="myprofile-img"
                    alt="profileimg"
                  />
                  <p><%= notif.notifCreator.username %></p>
                  <% } %>
                </div>

                <% if(notif.notifType === "follow") { %>

                <p style="margin-left: 25px; font-size: 1rem; cursor: pointer">
                  <%- notif.body %>
                </p>
                <div>
                  <a
                    class="btn btn-primary"
                    href="/profile/accept-follower/<%= notif._id %>"
                    method="post"
                  >
                    accept
                  </a>
                  <a
                    class="btn btn-danger"
                    href="/profile/reject-follower/<%= notif._id %>"
                    method="post"
                  >
                    reject
                  </a>
                </div>

                <% } %>
              </div>
              <% }) %> <% } else {%>
              <div class="alert alert-danger mt-5 me-5">
                you have no notification
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="main">
          <header>
            <div class="header-left">
              <button
                class="btn btn-outline-secondary"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"
              >
                <span class="fa fa-bars"></span>
              </button>
              <h1>Instagram</h1>
            </div>

            <div class="header-right">
              <div class="position-relative">
                <span class="fa fa-heart" onclick="openNotibox()"></span>
                <% if(visitor?.notifs?.length > 0) {%>
                <span
                  class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
                ></span>
                <% } %>
              </div>
              <span class="fa fa-paper-plane"></span>
            </div>
          </header>
          <div class="create" id="create-post">
            <div class="head">
              <h3>Create a Post</h3>
              <span class="close-img fa fa-x" onclick="closecreate()"></span>
            </div>
            <form
              method="post"
              action="/post"
              class="create-prompt"
              enctype="multipart/form-data"
            >
              <input
                class="chose-file form-control"
                type="file"
                name="posts"
                multiple
              />
              <input
                class="form-control"
                type="text"
                name="hashtags"
                placeholder="put space between each hashtag ..."
              />
              <textarea
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions"
                name="description"
                class="form-control"
                type="text"
                class="description-input m-2"
                placeholder="description"
              ></textarea>
              <button type="submit">create post +</button>
            </form>
          </div>
          <div class="create" id="create-story">
            <div class="head">
              <h3>Create a Story</h3>
              <span
                class="close-img fa fa-x"
                onclick="closeCreateStory(event)"
              ></span>
            </div>
            <form
              method="post"
              action="/story"
              class="create-prompt"
              enctype="multipart/form-data"
            >
              <input class="chose-file form-control" type="file" name="story" />
              <textarea
                name="description"
                class="form-control"
                type="text"
                class="description-input m-2"
                placeholder="description"
              ></textarea>
              <button type="submit">create post +</button>
            </form>
          </div>
          <div class="myprofile">
            <div class="myprofile-content">
              <div class="position-relative">
                <% if(isOwn) {%>
                <span
                  style="top: 80%; left: 90%; cursor: pointer; color: #fff"
                  class="new-story-btn position-absolute translate-middle p-2 bg-primary border border-light rounded-circle"
                >
                  <span class="fa fa-plus"></span>
                </span>
                <% } %> <% if(page?.avatar) {%> <% if(pageStory?.length > 0) {%>
                <img
                  src="<%= page.avatar %>"
                  style="cursor: pointer"
                  class="profile-img hasStory"
                  onclick="shoStoryModal('<%= page._id %>')"
                  alt="profile"
                />
                <% } else {%>
                <img
                  src="<%= page.avatar %>"
                  class="profile-img"
                  alt="profile"
                />
                <% } %> <% } else {%> <% if(pageStory?.length > 0) {%>
                <img
                  src="/profiles/no_profile.png"
                  class="profile-img hasStory"
                  style="cursor: pointer"
                  onclick="shoStoryModal('<%= page._id %>')"
                  alt="profile"
                />
                <% } else {%>
                <img
                  src="/profiles/no_profile.png"
                  class="profile-img"
                  alt="profile"
                />
                <% } %> <% } %>
              </div>

              <div class="all">
                <div class="idnamesection">
                  <h2>@<%= page.username %></h2>
                  <% if(isOwn){%>
                  <a
                    href="/profile/edit/<%= page.username %>"
                    class="btn btn-primary ms-3 text-nowrap"
                  >
                    Edit Profile <span class="fa fa-cog"></span>
                  </a>

                  <% if(page.isPrivate) {%>
                  <a
                    href="/profile/change-privity"
                    class="btn btn-danger ms-2 text-nowrap"
                  >
                    go Public <span class="fa fa-user"></span>
                  </a>
                  <% } else {%>
                  <a
                    href="/profile/change-privity"
                    class="btn btn-danger ms-2 text-nowrap"
                  >
                    go Private <span class="fa fa-user"></span>
                  </a>
                  <% } %> <% } %> <% if(!isOwn) {%> <% if(isFollowing) { %>
                  <a
                    class="btn btn-primary ms-3"
                    href="/profile/unfollow/<%= page.username %>"
                    >unfollow</a
                  >
                  <% } else{ %> <% if(isFollowRequestSend){ %>
                  <a
                    class="btn btn-dark ms-3"
                    href="/profile/follow/<%= page.username %>"
                    >wait</a
                  >
                  <% } else { %>
                  <a
                    class="btn btn-primary ms-3"
                    href="/profile/follow/<%= page.username %>"
                    >follow</a
                  >
                  <% } %> <% } %><% } %>
                </div>
                <div class="followsection">
                  <ul>
                    <li><%= pagePosts?.length %> Post</li>
                    <li><%= pageFollowers?.length %> Followers</li>
                    <li><%= pageFollowngs?.length %> Following</li>
                  </ul>
                </div>
                <div class="nameandbio">
                  <h4><%= page.name %></h4>
                  <% if(page.bio) {%>
                  <p><%= page.bio %></p>
                  <% } else{%>
                  <p>no biography yet.</p>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="postnav">
              <ul>
                <li>
                  <p class="toggle-post border-top" style="cursor: pointer">
                    <span class="fa fa-window-maximize"></span>
                    POST
                  </p>
                </li>
                <% if(isOwn) { %>
                <li>
                  <p class="toggle-save" style="cursor: pointer">
                    <span class="fa fa-bookmark"></span>
                    SAVED
                  </p>
                </li>
                <% } %>
              </ul>
            </div>
          </div>
          <% if(hasAccess) {%>
          <div class="posts grid-container">
            <% if(pagePosts?.length > 0){ %> <% pagePosts.forEach(post => { %>
            <div class="grid-item">
              <div
                class="img_container"
                onclick="openShowModal('<%= post._id %>')"
              >
                <% if(post.medias[0].path.includes(".mp4")) {%>
                <video
                  src="<%= post.medias[0].path %>"
                  class="mypost_img"
                  alt="post"
                />
                <% } else {%>
                <img
                  src="<%= post.medias[0].path %>"
                  class="mypost_img"
                  alt="post"
                />
                <% } %>
                <div class="after"></div>
              </div>
            </div>
            <% }) %> <% } else {%>
            <div class="alert alert-danger w-100">page has no post.</div>
            <% } %>
          </div>
          <% } else {%>
          <div class="alert alert-danger">follow the page to see posts</div>
          <%}%> <% if(isOwn) {%>
          <div class="saves d-none grid-container">
            <% if(visitorSaves?.length > 0){ %> <% visitorSaves.forEach(saved =>
            { %>
            <div class="grid-item">
              <div
                class="img_container"
                onclick="openShowModal('<%= saved.post._id %>')"
              >
                <img
                  src="<%= saved.post.medias[0].path %>"
                  class="mypost_img"
                  alt="post"
                />
                <div class="after"></div>
              </div>
            </div>
            <% }) %> <% } else {%>
            <div class="alert alert-danger w-100">you save no post.</div>
            <% } %>
          </div>
          <% } %>
          <div class="footer">
            <ul>
              <li>Meta</li>
              <li>About</li>
              <li>Blog</li>
              <li>Jobs</li>
              <li>Help</li>
              <li>API</li>
              <li>Privacy</li>
              <li>Terms</li>
              <li>Top Accounts</li>
              <li>Locations</li>
              <li>Instagram Lite</li>
              <li>Contact Uploading & Non-Users</li>
              <li>Meta Verified</li>
            </ul>
            <p>© 2023 Instagram from Meta</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/vendor/fontawesome/all.min.js"></script>
    <script src="/vendor/SwiperSlider/swiper.js"></script>
    <script src="/vendor/sweetalert_v2/sweetalert_v2.js"></script>
    <script src="/js/profile.js"></script>
    <script>
      if ("<%= locals.messages?.err %>") {
        swal.fire({
          title: "<%= locals.messages?.err %>",
          icon: "error",
          button: "ok",
        });
      }
      if ("<%= locals.messages?.succ %>") {
        swal.fire({
          title: "<%= locals.messages?.succ %>",
          icon: "success",
          button: "ok",
        });
      }
    </script>
  </body>
</html>
