<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram | Login</title>

    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div id="content-container">
      <section class="user">
        <div class="login-container">
          <h1 class="instagram-logo-box">forget password</h1>
          <h2>enter new password</h2>
          <form id="login-post" method="POST" action="/auth/recover-password/<%= token %>">
            <div class="inputs-container">
              <input type="password" name="password" placeholder="password" />
              <input type="hidden" name="token" value="<%= token %>" />
            </div>
            <button type="submit" class="login-button">send code</button>
          </form>
        </div>
      </section>
    </div>
    <script src="/vendor/sweetalert_v2/sweetalert_v2.js"></script>
    <script>
      if ("<%= locals.messages?.err %>") {
        swal.fire({
          title: "<%= locals.messages?.err %>",
          icon: "error",
          button: "ok",
        });
      }
      if ("<%= locals.messages?.succ %>") {
        swal.fire({
          title: "<%= locals.messages?.succ %>",
          icon: "success",
          button: "ok",
        });
      }
    </script>
  </body>
</html>
